event name: <%= @event.name %><br>
event location: <%= @event.location %><br>
starts_at: <%= @event.starts_at %><br>
ends_at: <%= @event.ends_at %><br>

<a href="/attend/<%= @event.id %>">click to attend</a>
